body {
  
}

#searchbox {
	font-family: Aharoni, Helvetica, sans-serif;
	border: 1px solid #cccccc;
	background-color: #fcfcfc;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#title {
	margin-left: 25px;
	margin-top: 18px;
	margin-bottom: 20px;
}

#addbox {
	font-family: Aharoni, Helvetica, sans-serif;
	border: none;
	background-color: #fcfcfc;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#searchform {
	height: min-content;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 26px;
}

#search {
	margin-left: 18px;
	margin-right: 5px;
	width: 320px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	height: 2em;
}

#btnAddArtist {
	background-color: #cccccc;
	border: none;
	cursor: pointer;
	height: 2.5em;
	width: 40px;
}

#btnSearch {
	background-color: #cccccc;
	border: none;
	cursor: pointer;
	height: 2.5em;
	width: 53px;
}

#addform {
	height: 0px;
	width: 100%;
	margin-bottom: 0;
	display: none;
}

.ainputs {
	width: 100%;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #cccccc;
	height: 0em;
	display: none;
}

.amount {
	display: none;
}

#aname {

}

#adesc {

}

#aurl {

}

#btnSubmitArtist {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #cccccc;
	border: none;
	cursor: pointer;
	height: 0em;
	display: none;
}

#artistlist {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.deletebutton {
	border: none;
	border-radius: 5px;
	background-color: red;
	color: white;
	float:right;
	cursor: pointer;
	vertical-align: middle;
	height: 30px;
}

.artist {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 13px;
	padding-right: 13px;
	height: 50px;
	width: 300px;
	border: 1px solid #cccccc;
	background-color: #fcfcfc;
	
}

.artist:hover {
	background-color: #d9d9d9;
	cursor: pointer;
}

.piccontainer {
	height: max-content;
	width: max-content;
}

.artistpic {
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	float:left;
}

.artistinfo {
	height: max-content;
	vertical-align: middle;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
	float: left;
}

.artistname{
	margin-top:2px;
	margin-bottom: 2px;
	color: #666666;
	font-weight: bold;
	vertical-align: middle;
	margin-right: 0px;
}

.artistdesc{
	margin-top:2px;
	margin-bottom: 2px;
	color: #737373;
	vertical-align: middle;
	font-family: Bookman, Helvetica, sans-serif;
	margin-right: 0px;
}